
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap="25px" fxLayoutGap.xs="0" fxLayoutGap.sm="0" fxLayoutGap.md="0">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between">
                <span class="title gray-color fw-semibold">Total RBI</span>
                <!-- <div class="icon">
                    <i class="ri-money-dollar-circle-line"></i>
                </div> -->
            </div>
            <div class="d-flex align-items-center justify-content-space-between">
                <div *ngIf="isLoading" 
                    style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner [diameter]="10"
                        color="primary" 
                        mode="indeterminate">
                    </mat-progress-spinner>
                </div>
                <h3 class="text-center" *ngIf="!isLoading">{{ totalRBI  | numberFormat:'fr-FR'}} FC</h3> 
            </div>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col" >
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between">
                <span class="title gray-color fw-semibold">Total CNSS (QPP)</span>
                <!-- <div class="icon bg3">
                    <i class="ri-safe-line"></i>
                </div> -->
            </div>
            <div class="d-flex align-items-center justify-content-space-between"> 
                <div *ngIf="isLoading" 
                    style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner [diameter]="10"
                        color="primary" 
                        mode="indeterminate">
                    </mat-progress-spinner>
                </div>
                <h3 class="text-center" *ngIf="!isLoading">{{ totalCNSSQPP  | numberFormat:'fr-FR'}} FC</h3> 
            </div>
        </mat-card>
    </div> 
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between">
                <span class="title gray-color fw-semibold">Total ONEM</span>
                <!-- <div class="icon bg2">
                    <i class="ri-swap-box-line"></i>
                </div> -->
            </div>
            <div class="d-flex align-items-center justify-content-space-between"> 
                <div *ngIf="isLoading" 
                    style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner [diameter]="10"
                        color="primary" 
                        mode="indeterminate">
                    </mat-progress-spinner>
                </div>
                <h3 class="text-center" *ngIf="!isLoading">{{ totalONEM  | numberFormat:'fr-FR'}} FC</h3> 
            </div>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col" >
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between">
                <span class="title gray-color fw-semibold">Total INPP</span>
                <!-- <div class="icon bg3">
                    <i class="ri-safe-line"></i>
                </div> -->
            </div>
            <div class="d-flex align-items-center justify-content-space-between"> 
                <div *ngIf="isLoading" 
                    style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner [diameter]="10"
                        color="primary" 
                        mode="indeterminate">
                    </mat-progress-spinner>
                </div>
                <h3 class="text-center" *ngIf="!isLoading">{{ totalINPP  | numberFormat:'fr-FR'}} FC</h3> 
            </div>
        </mat-card>
    </div> 
</div>


<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap="25px" fxLayoutGap.xs="0" fxLayoutGap.sm="0" fxLayoutGap.md="0">
  
    <div fxFlex="66.666666%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="col">
        <mat-card class="mb-25 tagus-card audienceOverview-box">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0">Total des allocations</h5>
                
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="isLoading" 
                    style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner [diameter]="30"
                        color="primary" 
                        mode="indeterminate">
                    </mat-progress-spinner>
                </div> 
                <div  *ngIf="!isLoading">
                    <div class="chart audienceOverviewChart" *ngIf="!isLoading && allocationList.length > 0">
                        <apx-chart
                            [series]="chartOptionAllocations.series!"
                            [chart]="chartOptionAllocations.chart!"
                            [dataLabels]="chartOptionAllocations.dataLabels!"
                            [plotOptions]="chartOptionAllocations.plotOptions!"
                            [yaxis]="chartOptionAllocations.yaxis!"
                            [legend]="chartOptionAllocations.legend!"
                            [fill]="chartOptionAllocations.fill!"
                            [stroke]="chartOptionAllocations.stroke!"
                            [tooltip]="chartOptionAllocations.tooltip!"
                            [xaxis]="chartOptionAllocations.xaxis!"
                            [colors]="chartOptionAllocations.colors!"
                            [grid]="chartOptionAllocations.grid!"
                        ></apx-chart>
                    </div>
                </div>
                
            </mat-card-content>
        </mat-card>

        <mat-card class="mb-25 tagus-card audienceOverview-box">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0">Dépenses et déductions</h5> 
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="isLoading" 
                    style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner [diameter]="30"
                        color="primary" 
                        mode="indeterminate">
                    </mat-progress-spinner>
                </div> 
            <div class="chart yourProgressChart" *ngIf="!isLoading && depensePayEList.length > 0">
                <apx-chart
                    [series]="chartOptionNetApayerIPRCNSS.series!"
                    [chart]="chartOptionNetApayerIPRCNSS.chart!"
                    [xaxis]="chartOptionNetApayerIPRCNSS.xaxis!"
                    [stroke]="chartOptionNetApayerIPRCNSS.stroke!"
                    [tooltip]="chartOptionNetApayerIPRCNSS.tooltip!"
                    [dataLabels]="chartOptionNetApayerIPRCNSS.dataLabels!"
                    [legend]="chartOptionNetApayerIPRCNSS.legend!"
                    [grid]="chartOptionNetApayerIPRCNSS.grid!"
                    [yaxis]="chartOptionNetApayerIPRCNSS.yaxis!"
                    [title]="chartOptionNetApayerIPRCNSS.title!"
                    [colors]="chartOptionNetApayerIPRCNSS.colors!"
                ></apx-chart>
            </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="33.333333%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="col">

        <mat-card class="mb-25 tagus-card  my-profile-box">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0">Pregression de paie</h5>  
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="isLoading" 
                    style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner [diameter]="30"
                        color="primary" 
                        mode="indeterminate">
                    </mat-progress-spinner>
                </div> 
                <div class="myProfileChart position-relative">
                    <div class="chart" *ngIf="!isLoading && statutPaieList.length > 0">
                        <apx-chart
                            [series]="chartOptionsSTatutPaie.series!"
                            [chart]="chartOptionsSTatutPaie.chart!"
                            [labels]="chartOptionsSTatutPaie.labels!"
                            [tooltip]="chartOptionsSTatutPaie.tooltip!"
                            [colors]="chartOptionsSTatutPaie.colors!"
                            [legend]="chartOptionsSTatutPaie.legend!"
                            [stroke]="chartOptionsSTatutPaie.stroke!"
                        ></apx-chart>
                    </div>
                </div>
                <ul class="ps-0 list-unstyled mb-25">
                    <li class="d-flex align-items-center justify-content-space-between">
                        <div class="title d-flex align-items-center"> 
                            <div class="box-1"></div>
                            <div class="ms-12"> 
                                <h5 class="fw-semibold">Primes anciennetés</h5> 
                            </div>
                        </div>
                        <div class="info text-end">
                            <span>{{ primeAnciennete | numberFormat:'fr-FR'}} FC</span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-space-between">
                        <div class="title d-flex align-items-center">
                            <div class="box-2"></div>
                            <div class="ms-12">
                                <h5 class="fw-semibold">Primes divers</h5> 
                            </div>
                        </div>
                        <div class="info text-end">  
                            <span>{{ primes | numberFormat:'fr-FR'}} FC</span>
                        </div>
                    </li> 
                    <li class="d-flex align-items-center justify-content-space-between">
                        <div class="title d-flex align-items-center">
                            <div class="box-3"></div>
                            <div class="ms-12">
                                <h5 class="fw-semibold">Heures Supp.</h5> 
                            </div>
                        </div>
                        <div class="info text-end">  
                            <span>{{ heureSupp | numberFormat:'fr-FR'}} FC</span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-space-between">
                        <div class="title d-flex align-items-center">
                            <div class="box-4"></div>
                            <div class="ms-12">
                                <h5 class="fw-semibold">Avances salaires</h5> 
                            </div>
                        </div>
                        <div class="info text-end">  
                            <span>{{ avanceSalaire | numberFormat:'fr-FR'}} FC</span>
                        </div>
                    </li> 
                    <li class="d-flex align-items-center justify-content-space-between">
                        <div class="title d-flex align-items-center">
                            <div class="box-5"></div>
                            <div class="ms-12">
                                <h5 class="fw-semibold">Pénalités</h5> 
                            </div>
                        </div>
                        <div class="info text-end">  
                            <span>{{ penalite | numberFormat:'fr-FR'}} FC</span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-space-between">
                        <div class="title d-flex align-items-center">
                            <div class="box-5"></div>
                            <div class="ms-12">
                                <h5 class="fw-semibold">Syndicats</h5> 
                            </div>
                        </div>
                        <div class="info text-end">  
                            <span>{{ syndicat | numberFormat:'fr-FR'}} FC</span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-space-between"> 
                        <div class="title d-flex align-items-center">
                            <div class="box-5"></div>
                            <div class="ms-12">
                                <h5 class="fw-semibold">Pret entreprise</h5> 
                            </div>
                        </div>
                        <div class="info text-end">  
                            <span>{{ presEntreprise | numberFormat:'fr-FR'}} FC</span>
                        </div>
                    </li> 
                </ul>
            </mat-card-content>
        </mat-card>

    </div>
</div>


 