<div class="d-flex justify-content-center" *ngIf="isLoading">
    <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-2"> Patientez-svp...</p>
</div>
<div *ngIf="!isLoading">
    <div class="row" *ngIf="heureSupp">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <mat-card class="mb-25 personal-info-card tagus-card" [class.component-dark-theme]="themeService.isDark()">
                <mat-card-header class="border-bottom">
                    <h5 class="mb-0"> Heures supplementaires</h5>
                    <div> 
                        <button mat-icon-button color="accent" 
                            (click)="openEditDialog('300ms', '100ms', heureSupp.id)"
                            *ngIf="currentUser.permission === 'U' || 
                            currentUser.permission === 'RU' ||
                            currentUser.permission === 'CRU' ||
                            currentUser.permission === 'RUD' ||
                            currentUser.permission === 'CRUD'" matTooltip="Modifier ce document">
                                <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" 
                                (click)="delete(heureSupp.id)"
                            *ngIf="currentUser.permission === 'D' || 
                                currentUser.permission === 'RD' ||
                                currentUser.permission === 'RUD' || 
                                currentUser.permission === 'CRUD'" matTooltip="Supprimer ce document">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <mat-card-content> 
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold d-inline-block">Identifiant: </span>
                                    <span class="gray-color">{{ heureSupp.personnel.matricule.toUpperCase() }}</span>
                                </li>
                                <li>
                                    <span class="fw-semibold d-inline-block">Nom complet: </span>
                                    <span class="gray-color">
                                        {{ heureSupp.personnel.nom }}
                                        {{ heureSupp.personnel.postnom }}
                                        {{ heureSupp.personnel.prenom }}
                                    </span>
                                </li> 
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold d-inline-block">Date: </span>
                                    <span class="gray-color">{{heureSupp.created | date: 'dd/MM/yyyy HH:mm'}}</span>
                                </li>
                                <li>
                                    <span class="fw-semibold d-inline-block">Mise à jour: </span>
                                    <span class="gray-color">{{heureSupp.update_created | date: 'dd/MM/yyyy HH:mm'}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>  
                </mat-card-content>
                <mat-card-content> 
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <ul class="list ps-0 mb-0"> 
                                <!-- <li>
                                    <span class="fw-semibold d-inline-block">Nombre d'heures: </span>
                                    <span class="gray-color">
                                        <span class="badge text-soft-info" *ngIf="isMoisSuivantValid || isMoisSuivantANValid">
                                            {{ heureSupp.nbr_heures }} H<sup>+1</sup>
                                        </span>
                                        <span class="badge text-soft-info" *ngIf="!isMoisSuivantValid && isValid">
                                            {{ heureSupp.nbr_heures }} H
                                        </span>
                                        <span *ngIf="isMoisPrecedentValid && !isValid">
                                           <del>{{ heureSupp.nbr_heures }} H</del> 
                                        </span>  
                                    </span>
                                </li>  -->
                                <li>
                                    <span class="fw-semibold d-inline-block">Nombre d'heures: </span>
                                    <span class="badge text-soft-info" *ngIf="!isMoisPrecedent">
                                        {{ heureSupp.nbr_heures }} H
                                    </span>
                                    <span *ngIf="isMoisPrecedent">
                                        <del> {{ heureSupp.nbr_heures }} H</del> 
                                     </span>
                                </li>
                                <li>
                                    <span class="fw-semibold d-inline-block">Motif: </span>
                                    <span class="gray-color">{{ heureSupp.motif }}</span>
                                </li>
                                <li>
                                    <span class="fw-semibold d-inline-block">Signature: </span>
                                    <span class="gray-color">{{ heureSupp.signature }}</span>
                                </li> 
                            </ul>
                        </div> 
                    </div>  
                </mat-card-content>
            </mat-card> 
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12"> 
            <app-heure-supp-table [heureSupp]="heureSupp"></app-heure-supp-table>
        </div> 
    </div>
</div>
