
// .page[size="A4"] {  
//     width: 21cm;
//     height: 29.7cm;
// }
// @media print {
//     .page {width: auto !important;min-width:21cm;}
//     @media print and (orientation: landscape) {
//         .page {
//             min-width: 29.7cm;
//         }
//     }
// }

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
        width: 10px;
    }
    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 2px solid var(--whiteColor);
        background-color: rgba(0, 0, 0, .2);
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;  
        background-color: var(--whiteColor);
    }
}
table, .table {
    width: 100%;
    border-collapse: collapse;

    thead {
        tr {
            th {
                background-color: #f7faff;
                vertical-align: middle;
                white-space: nowrap;
                text-align: center;
                position: relative;
                padding: 15px 20px;

                &::after {
                    top: 50%;
                    right: 0;
                    width: 1px;
                    content: '';
                    height: 17px;
                    position: absolute;
                    background-color: #e7ebf5;
                    transform: translateY(-50%);
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    tbody {
        tr {
            td {
                text-align: center;
                padding: 5px 0px;
                white-space: nowrap;
                border-bottom-color: #f7faff;
                border-bottom: 1px solid #E9E9E9;

                .product-info {
                    padding-right: 45px;

                    h5 {
                        font-size: 15px;
                    }
                    span {
                        font-size: 14px;
                    }
                }
                .action-btn {
                    color: var(--paragraphColor);
                    font-size: 20px;
                    line-height: 1;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}
.list {
    list-style-type: none;
    li {
        margin-bottom: 20px;
        &.net_a_payer {
            margin-bottom: 0;
            padding-top: 20px;
            border-top: 1px solid #F7FAFF;
            border-bottom: 1px solid #F7FAFF;
        }

        // &:last-child {
        //     margin-bottom: 0;
        //     padding-top: 20px;
        //     border-top: 1px solid #F7FAFF;
        // }
    }
}
.component-dark-theme {
    .table-responsive {
        &::-webkit-scrollbar-thumb {
            border-color: #1f2226;
            background-color: rgba(255, 255, 255, .2);
        }
        &::-webkit-scrollbar-track {
            background-color: #1f2226;
        }
    }
    table, .table {
        thead {
            tr {
                th {
                    background-color: #1d2024;
    
                    &::after {
                        background-color: #363636;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    border-bottom-color: #1f2226;

                    .action-btn {
                        color: #828690;
                    }
                }
            }
        }
    }
    .list {
        li {
            &:last-child {
                border-top-color: #1f2226;
            }
        }
    }
}
 
@media only screen and (max-width : 767px) {

    table, .table {
        thead {
            tr {
                th {
                    padding: 15px;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 5px;
    
                    .product-info {
                        padding-right: 50px;
                    }
                }
            }
        }
    } 

}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .tacking-box {
        .track-list {
            li {
                margin-bottom: 16px;
                padding: {
                    bottom: 16px;
                    left: 20px;
                };
                h5 {
                    font-size: 15px;
                }
                span {
                    font-size: 14px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
    table, .table {
        thead {
            tr {
                th {
                    padding: 15px 20px;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 5px 0px;
                    align-content: space-between;
                }
            }
        }
    } 

}

.fontSize {
    font-size: 20px !important; 
}

.example-buttons {
    margin-bottom: -15px;
    
    button, a {
        margin: {
            right: 15px;
            bottom: 15px;
        };
    }
}

app-ng-calculator {
    display: block;
    background: #ccc;
    padding: 20px;
    width: 400px;
  }

.logo {
    height: 100px !important;
    width: 100px !important;
}