<!-- <span class="badge text-soft-info" *ngIf="isMoisSuivantValid || isMoisSuivantANValid">
    {{ element.nbr_heures }} H <sup>+1</sup>
</span>

<span class="badge text-soft-info" *ngIf="!isMoisSuivantValid && isValid">
    {{ element.nbr_heures }} H
</span>

<span *ngIf="isMoisPrecedentValid && !isValid">
   <del>{{ element.nbr_heures }} H</del> 
</span> -->
 
<span class="badge text-soft-info" *ngIf="!isMoisPrecedent">
    {{ element.nbr_heures }} H
</span>
<span *ngIf="isMoisPrecedent">
    <del> {{ element.nbr_heures }} H</del> 
 </span>