 
<div class="d-flex justify-content-center" *ngIf="isLoading">
    <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-2"> Patientez-svp...</p>
</div>
<div *ngIf="!isLoading">
    <div class="row" *ngIf="presEntreprise">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <mat-card class="mb-25 personal-info-card tagus-card" [class.component-dark-theme]="themeService.isDark()">
                <mat-card-header class="border-bottom">
                    <h4 class="mb-0">Prêt entreprise</h4>
                    <div> 
                        <button mat-icon-button color="accent" 
                            (click)="openEditDialog('300ms', '100ms', presEntreprise.id)"
                            *ngIf="currentUser.permission === 'U' || 
                            currentUser.permission === 'RU' ||
                            currentUser.permission === 'CRU' ||
                            currentUser.permission === 'RUD' ||
                            currentUser.permission === 'CRUD'" matTooltip="Modifier">
                                <mat-icon>edit</mat-icon>
                        </button> 
                        <button mat-icon-button color="warn" 
                                (click)="delete(presEntreprise.id)"
                                *ngIf="currentUser.permission === 'D' || 
                                currentUser.permission === 'RD' ||
                                currentUser.permission === 'RUD' || 
                                currentUser.permission === 'CRUD'" matTooltip="Supprimer ce document">
                                <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <mat-card-content> 
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold d-inline-block">Identifiant: </span>
                                    <span class="gray-color">{{ presEntreprise.personnel.matricule.toUpperCase() }}</span>
                                </li>
                                <li>
                                    <span class="fw-semibold d-inline-block">Nom complet: </span>
                                    <span class="gray-color">
                                        {{ presEntreprise.personnel.nom }}
                                        {{ presEntreprise.personnel.postnom }}
                                        {{ presEntreprise.personnel.prenom }}
                                    </span>
                                </li> 
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold d-inline-block">Date: </span>
                                    <span class="gray-color">{{presEntreprise.created | date: 'dd/MM/yyyy HH:mm'}}</span>
                                </li>
                                <li>
                                    <span class="fw-semibold d-inline-block">Mise à jour: </span>
                                    <span class="gray-color">{{presEntreprise.update_created | date: 'dd/MM/yyyy HH:mm'}}</span>
                                </li>
                                <li> 
                                    <span class="fw-semibold d-inline-block">Signature: </span>
                                    <span class="gray-color">{{ presEntreprise.signature }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-content> 
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold d-inline-block">Intitule: </span>
                                    <span class="gray-color">{{ presEntreprise.intitule }}</span>
                                </li>
                                <li>
                                    <span class="fw-semibold d-inline-block">Total Pret entreprise: </span>
                                    <span class="gray-color">
                                        {{ presEntreprise.total_empreints | numberFormat:'fr-FR' }} {{ presEntreprise.monnaie }}
                                    </span>
                                </li>
                                <li>
                                    <span class="fw-semibold d-inline-block">Montant à payer chaque mois: </span>
                                    <span class="gray-color">
                                        {{ presEntreprise.deboursement | numberFormat:'fr-FR' }} {{ presEntreprise.monnaie }}
                                    </span>
                                </li>
                                <li>
                                    <span class="fw-semibold d-inline-block">Total déjà payé: </span>
                                    <span class="gray-color">
                                        {{ totalDejaPayE | numberFormat:'fr-FR' }} {{ presEntreprise.monnaie }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold d-inline-block">Total Restant: </span>
                                    <span class="gray-color">
                                        {{ reste | numberFormat:'fr-FR' }} {{ presEntreprise.monnaie }}
                                    </span>
                                </li>
                                <li>
                                    <span class="fw-semibold d-inline-block">Date choisie  pour le debut des paiements: </span>
                                    <span class="gray-color">
                                        {{ presEntreprise.date_debut | date: 'dd/MM/yyyy' }} 
                                    </span>
                                </li> 

                                <li>
                                    <span class="fw-semibold d-inline-block">Echéance: </span>
                                    <span class="gray-color">
                                        {{ presEntreprise.date_limit | date: 'dd/MM/yyyy' }}  
                                    </span>
                                </li> 
                                
                                
                            </ul>
                        </div> 
                    </div>  
                </mat-card-content>
            </mat-card> 
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- <app-presEntreprise-table [presEntreprise]="presEntreprise" [preference]="preference"></app-presEntreprise-table> -->
        </div>

         
    </div>
</div>
