

<div class="create-dialog-box scrollable-dialog">
    <div class="title d-flex align-items-center justify-content-space-between">
        <h4 class="mb-0">Exportation Excel</h4>
        <button class="close-btn bg-transparent p-0 border-none" (click)="close()"><i class="flaticon-close"></i></button>
    </div>
    <div class="d-flex justify-content-center" *ngIf="isLoading">
        <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-2"> Patientez-svp...</p>
    </div> 
    <form [formGroup]="dateRange" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="tagus-form-group">
                    <label class="d-block mb-12 fw-semibold gray-color">Site de travail <span>*</span></label>
                    <mat-form-field appearance="fill">
                        <i class="ri-edit-2-line"></i>
                        <mat-label>Select de site location</mat-label>
                        <mat-select formControlName="site_location">
                            <mat-option *ngFor="let site_location of siteLocationList" [value]="site_location.site_location">
                                {{site_location.site_location }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="dateRange.controls['site_location'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="tagus-form-group">
                    <mat-form-field>
                        <mat-label>Choisir la plage de Date</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate formControlName="start" placeholder="Start Date">
                          <input matEndDate formControlName="end" placeholder="End Date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                        <mat-error *ngIf="dateRange.controls['start'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                      </mat-form-field> 
                      
                </div> 
            </div>
        </div>
        <div class="text-end mt-25">
            <button type="button" class="gray" (click)="close()"><i class="ri-close-fill"></i> Annuler</button>
            <button type="submit"> 
                <i class="ri-download-2-line"></i>
                Exporter
            </button>
        </div>
    </form> 
</div>
