
<div class="d-flex justify-content-center" *ngIf="isLoading">
    <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-5">Patientez-svp...</p>
</div>

<div class="breadcrumb-card row d-md-flex align-items-center justify-content-space-between" *ngIf="!isLoading">
    <div class="col-lg-3 col-md-12 col-sm-12">
        <h2 class="mb-10">Relevé de paie</h2>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="row bg-light-gray border-radius d-flex align-items-center text-center p-10 taille">
            <form [formGroup]="formGroup">
                <div class="d-flex align-items-center justify-content-end">
                    <mat-form-field appearance="fill">
                        <mat-label>Select entreprise</mat-label>
                        <mat-select (selectionChange)="onChangeCorporate($event)" formControlName="entreprise">
                            <mat-option *ngFor="let corporate of corporateList" [value]="corporate">
                                {{corporate.corporate_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="box"></div>
                    <mat-form-field appearance="fill">
                        <mat-label>Select classeur</mat-label>
                        <mat-select (selectionChange)="onChangeClasser($event)" formControlName="classeur">
                            <mat-option *ngFor="let classer of classerList" [value]="classer">
                                <app-classeur-filter-disp [classer]="classer" [corporate]="corporate"></app-classeur-filter-disp>
                            </mat-option>
                        </mat-select>
                    </mat-form-field> 
                    <button mat-icon-button class="tagus" matTooltip="Exportation du document"
                        (click)="openExportDialog('300ms', '100ms')">
                        <mat-icon>print</mat-icon>
                    </button>
                </div>
            </form>
            
            <div class="d-flex justify-content-center" *ngIf="isLoad">
                <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-5">Patientez-svp...</p>
            </div>
            <div class="row" *ngIf="!isLoad">
                <div class="col-lg-6 col-md-6 col-sm-12"> 
                    <table class="table"> 
                        <tbody>
                            <tr>
                                <td class="text-start">
                                    Masse salariale:
                                </td>
                                <td>
                                    <input type="text" class="form-control text-end" 
                                        type="text"  name="net_a_payer" [ngModel]="net_a_payer | numberFormat:'fr-FR'"
                                        [readOnly]="true"
                                        aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-sm"
                                        [value]="net_a_payer"
                                        > FC
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start">
                                    Brute imposable: 
                                </td>
                                <td>
                                    <input type="text" class="form-control text-end" 
                                        type="text"  name="rbi_total" [ngModel]="rbi_total | numberFormat:'fr-FR'"
                                        [readOnly]="true"
                                        aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-sm"
                                        [value]="rbi_total"
                                        > FC
                                </td> 
                            </tr>
                            <tr>
                                <td class="text-start">
                                    IPR:
                                </td>
                                <td>
                                    <input type="text" class="form-control text-end" 
                                        type="text"  name="ipr" [ngModel]="ipr | numberFormat:'fr-FR'"
                                        [readOnly]="true"
                                        aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-sm"
                                        [value]="ipr"
                                        > FC
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start">
                                    CNSS(QPO):
                                </td>
                                <td>
                                    <input type="text" class="form-control text-end" 
                                        type="text"  name="cnss" [ngModel]="cnss | numberFormat:'fr-FR'"
                                        [readOnly]="true"
                                        aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-sm"
                                        [value]="cnss"
                                        > FC
                                </td>
                                
                            </tr> 
                        </tbody>
                    </table> 
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6"> 
                    <table class="table"> 
                        <tbody> 
                            <tr>
                                <td class="text-start">
                                    Heures supp.:
                                </td>
                                <td>
                                    <input type="text" class="form-control text-end" 
                                        type="text"  name="heure_supp_total" [ngModel]="heure_supp_total | numberFormat:'fr-FR'"
                                        [readOnly]="true"
                                        aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-sm"
                                        [value]="heure_supp_total"
                                        > FC
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start">
                                    Total Primes: 
                                </td>
                                <td>
                                    <input type="text" class="form-control text-end" 
                                        type="text"  name="prime_total" [ngModel]="prime_total | numberFormat:'fr-FR'"
                                        [readOnly]="true"
                                        aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-sm"
                                        [value]="prime_total"
                                        > FC
                                </td> 
                            </tr>
                            <tr>
                                <td class="text-start">
                                    Penalités:
                                </td>
                                <td>
                                    <input type="text" class="form-control text-end" 
                                        type="text"  name="penalite_total" [ngModel]="penalite_total | numberFormat:'fr-FR'"
                                        [readOnly]="true"
                                        aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-sm"
                                        [value]="penalite_total"
                                        > FC
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start">
                                    Syndicats:
                                </td>
                                <td>
                                    <input type="text" class="form-control text-end" 
                                        type="text"  name="syndicat_total" [ngModel]="syndicat_total | numberFormat:'fr-FR'"
                                        [readOnly]="true"
                                        aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-sm"
                                        [value]="syndicat_total"
                                        > FC
                                </td>
                                
                            </tr> 
                        </tbody>
                    </table> 
                </div>
            </div> 
        </div>
    </div>

</div> 

 
<br>



<div class="reports-table table-responsive mb-25">
    <table class="table">
        <thead>
            <tr>
                <th class="fw-semibold gray-color">N°</th>
                <th class="fw-semibold main-color">Site de travail</th>
                <th class="fw-semibold main-color">Matricule</th>
                <th class="fw-semibold gray-color">Nom Complet</th>
                <th class="fw-semibold gray-color">Departement</th>
                <th class="fw-semibold gray-color">Fonction</th>
                <th class="fw-semibold gray-color">RBI</th>
                <th class="fw-semibold gray-color">CNSS(QPO)</th>
                <th class="fw-semibold gray-color">RNI</th>
                <th class="fw-semibold gray-color">IPR</th>
                <th class="fw-semibold gray-color">Heures supp.</th>
                <th class="fw-semibold gray-color">Heures Monnaie</th>
                <th class="fw-semibold gray-color">Primes d'ancienneté</th>
                <th class="fw-semibold gray-color">Primes</th>
                <th class="fw-semibold gray-color">Pénalités</th>
                <th class="fw-semibold gray-color">Avances salaire</th>
                <th class="fw-semibold gray-color">Syndicats</th>
                <th class="fw-semibold gray-color">Frais bancaire</th>
                <th class="fw-semibold gray-color">Net à payer</th>
                <th class="fw-semibold gray-color">Compte</th>
                <th class="fw-semibold gray-color">Banque</th>
            </tr>
        </thead>
        <div class="d-flex justify-content-center" *ngIf="isLoad">
            <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-5">Patientez-svp...</p>
        </div> 
        <tbody *ngIf="!isLoad">
            <tr *ngFor="let item of releveList; index as i">
                <td class="gray-color fw-semibold">
                    {{ i + 1 }}
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.site_location }}
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.matricule.toUpperCase() }}
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.nom }} {{ item.postnom }} {{ item.prenom }}
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.departement }}
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.fonction }}
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.rbi | numberFormat:'fr-FR'}} FC
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.cnss_qpo | numberFormat:'fr-FR'}} FC
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.rni | numberFormat:'fr-FR'}} FC
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.ipr | numberFormat:'fr-FR'}} FC
                </td>
                
                <td class="gray-color fw-semibold">
                    {{ item.heures_supp }} H
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.heure_supplementaire_monnaie | numberFormat:'fr-FR'}} FC
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.prime_anciennete | numberFormat:'fr-FR'}} FC
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.primes | numberFormat:'fr-FR'}} FC
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.penalites | numberFormat:'fr-FR'}} FC
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.avance_slaire | numberFormat:'fr-FR'}} FC
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.syndicat | numberFormat:'fr-FR'}} FC
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.frais_bancaire | numberFormat:'fr-FR'}} FC
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.net_a_payer | numberFormat:'fr-FR'}} FC
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.compte_bancaire }}
                </td>
                <td class="gray-color fw-semibold">
                    {{ item.nom_banque }}
                </td>
            </tr>
        </tbody>
    </table>
</div> 

