

<form [formGroup]="formContentGroup" (ngSubmit)="onSubmitContent()">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12"> 
            <mat-form-field appearance="fill"> 
                <mat-label>Entrer le titre</mat-label>
                <input matInput type="text" id="nom" formControlName="nom" required>
                <mat-error *ngIf="formContentGroup.controls['nom'].hasError('required')">
                    Champs obligatoire
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12"> 
            <mat-form-field appearance="fill">  
                <mat-label>Entrer le Montant</mat-label>
                <input matInput type="number" formControlName="montant" name="montant">
                <mat-error *ngIf="formContentGroup.controls['montant'].hasError('required')">
                    Champs obligatoire
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" *ngIf="isLoadingContent">
            <div class="d-flex justify-content-center">
                <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-2"> Patientez-svp...</p>
            </div>
        </div> 
        <div class="col-lg-4 col-md-6 col-sm-12" *ngIf="!isLoadingContent">
            <div *ngIf="currentUser">
                <button mat-button type="submit" class="primary-btn"
                    *ngIf="currentUser.permission === 'C' || 
                                currentUser.permission === 'CR' ||
                                currentUser.permission === 'CRU' ||
                                currentUser.permission === 'CRUD'">
                    Soumettre
                </button>
            </div> 
        </div>
    </div> 
</form>