
.present {
    background: #27ae60 !important;
    border-radius: 100%;
}

.absence-sans-autorisation {
    background: #FC0000 !important;
    border-radius: 100%;
}

.absence-autorisee {
    background: #FAAA0C !important;
    border-radius: 100%;
}

.absent-maladie {
    background: #ee368c !important;
    border-radius: 100%;
}

.conge-circonstanciel {
    background: #8e44ad !important;
    color: #fff!important;
    border-radius: 100%;
}

.conge-annuel {
    background: #2db6f5 !important;
    border-radius: 100%;
}

.suspension {
    background: #2980b9 !important;
    border-radius: 100%;
}

.service-off {
    color: #fff!important;
    background: #2c3e50 !important;
    border-radius: 100%;
}

.mission {
    background: #038fa8 !important; 
    border-radius: 100%;
}