.personal-info-card {
    p {
        font-size: 14px;
    }
    .list {
        list-style-type: none;
        margin-top: 20px;

        li {
            font-size: 14px;
            border-bottom: 1px solid #F7FAFF;
            padding: {
                top: 11px;
                bottom: 11px;
            };
            span {
                &:nth-child(1) {
                    width: 115px;
                }
            }
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
    &.component-dark-theme {
        .list {
            li {
                border-bottom-color: #1f2226;
            }
        }
    }
}

@media only screen and (max-width : 767px) {

    .personal-info-card {
        p {
            font-size: 13.5px;
        }
        .list {
            margin-top: 15px;
    
            li {
                font-size: 13.5px;
                padding: {
                    top: 10px;
                    bottom: 10px;
                };
                span {
                    &:nth-child(1) {
                        width: 90px;
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 1600px) {

    .personal-info-card {
        p {
            font-size: var(--fontSize);
        }
        .list {
            li {
                font-size: var(--fontSize);
                padding: {
                    top: 15px;
                    bottom: 15px;
                };
                span {
                    &:nth-child(1) {
                        width: 150px;
                    }
                }
            }
        }
    }

}


.presence-form {
    --badge-padding-x: 12px;
    --badge-padding-y: 0.40em;
    --badge-font-size: 13px;
    --badge-font-weight: 600;
    --badge-color: #fff;
    --badge-border-radius: 0.375rem;
    display: inline-block;
    padding: var(--badge-padding-y) var(--badge-padding-x);
    font-size: var(--badge-font-size);
    font-weight: var(--badge-font-weight);
    line-height: 1;
    color: var(--badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--badge-border-radius);
}

.present {
    background-color: #27ae60 !important;
} 

.absence-sans-autorisation {
    background-color: #FC0000 !important; 
}

.absence-autorisee {
    background-color: #FAAA0C !important; 
}

.absent-maladie {
    background-color: #ee368c !important; 
}

.conge-circonstanciel {
    background-color: #8e44ad !important; 
}

.conge-annuel {
    background-color: #2db6f5 !important; 
}

.suspension {
    background-color: #2980b9 !important; 
}

.service-off {
    background-color: #2c3e50 !important; 
}

.mission {
    background-color: #038fa8 !important; 
}