
<div class="d-flex justify-content-center" *ngIf="isLoading">
    <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-2"> Patientez-svp...</p>
</div>
<div class="row" *ngIf="!isLoading && personne">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-card class="mb-25 personal-info-card tagus-card" [class.component-dark-theme]="themeService.isDark()">
            <mat-card-header class="border-bottom">
                <h4 class="mb-0">Performance individuelle</h4>
                <button mat-flat-button class="default-btn tagus" (click)="openAddDialog('300ms', '100ms', personne.id)">
                    <i class="ri-add-fill"></i> Ajouter Performance
                </button>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <ul class="list ps-0 mb-0">
                            <li>
                                <span class="fw-semibold d-inline-block">Identifiant: </span>
                                <span class="gray-color">{{ personne.matricule.toUpperCase() }}</span>
                            </li>
                            <li>
                                <span class="fw-semibold d-inline-block">Nom complet: </span>
                                <span class="gray-color">
                                    {{ personne.nom }}
                                    {{ personne.postnom }}
                                    {{ personne.prenom }}
                                </span>
                            </li>
                            <!-- <li>
                                <span class="fw-semibold d-inline-block">Statut personnel: </span>
                                <span class="gray-color" *ngIf="personne.statut_personnel">OUI</span>
                                <span class="gray-color" *ngIf="!personne.statut_personnel">NON</span>
                            </li> -->
                            <li>
                                <span class="fw-semibold d-inline-block">Sexe: </span>
                                <span class="gray-color">
                                    {{ personne.sexe }}
                                </span>
                            </li>
                            <li>
                                <span class="fw-semibold d-inline-block">Departement: </span>
                                <span class="gray-color" *ngIf="personne.departements">
                                    {{ personne.departements.departement }}
                                </span>
                            </li>
                            <li>
                                <span class="fw-semibold d-inline-block">Fonction: </span>
                                <span class="gray-color" *ngIf="personne.fonctions">
                                    {{ personne.fonctions.fonction }}
                                </span>
                            </li>
                            <li>
                                <span class="fw-semibold d-inline-block">Titre: </span>
                                <span class="gray-color" *ngIf="personne.titles">
                                    {{ personne.titles.title }}
                                </span>
                                <span class="gray-color" *ngIf="!personne.titles">
                                   -
                                </span>
                            </li>
                            <li>
                                <span class="fw-semibold d-inline-block">Service: </span>
                                <span class="gray-color" *ngIf="personne.services">
                                    {{ personne.services.service }}
                                </span>
                                <span class="gray-color" *ngIf="!personne.services">
                                    -
                                </span>
                            </li> 
                            <li>
                                <span class="fw-semibold d-inline-block">Site de travail: </span>
                                <span class="gray-color" *ngIf="personne.site_locations">
                                    {{ personne.site_locations.site_location }}
                                </span>
                                <span class="gray-color" *ngIf="!personne.site_locations">
                                    -
                                </span>
                            </li>
                            <li>
                                <span class="fw-semibold d-inline-block">Cumul des points: </span>
                                <span class="gray-color">
                                    <app-cumul [element]="personne"></app-cumul>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <app-performence-pie [personne]="personne"></app-performence-pie>
                    </div>
                </div>  
            </mat-card-content> 
        </mat-card> 
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12"> 
        <app-performence-table [personne]="personne"></app-performence-table>
    </div> 
</div>