
.present {
    color: white !important;
    background: #27ae60 !important; 
    border-radius: 100%;
    width: 40px !important;
    height: 40px !important; 
    text-align: center !important; 
}

.absence-sans-autorisation {
    color: white !important;
    background: #FC0000 !important; 
    border-radius: 100%;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important; 
}

.absence-autorisee {
    color: white !important;
    background: #FAAA0C !important; 
    border-radius: 100%;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important; 
}

.absent-maladie {
    color: white !important;
    background: #ee368c !important;
    border-radius: 100%;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important; 
}

.conge-circonstanciel {
    color: white !important;
    background: #8e44ad !important; 
    border-radius: 100%;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important; 
}

.conge-annuel {
    color: white !important;
    background: #2db6f5 !important;
    border-radius: 100%;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important; 
}

.suspension {
    color: white !important;
    background: #2980b9 !important;
    border-radius: 100%;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important; 
}

.service-off {
    color: #fff!important;
    background: #2c3e50 !important;
    border-radius: 100%;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important; 
}

.mission {
    color: white !important;
    background: #038fa8 !important; 
    border-radius: 100%;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important; 
}