
.shift_1 {
    background-color: #27ae60 !important;
    color: white !important;
    border-radius: 100%;
}

.shift_2 {
    background-color: #FAAA0C !important;
    border-radius: 100%;
}

.shift_3 {
    background-color: #FC0000 !important;
    color: #fff!important;
    border-radius: 100%;
}