<div class="d-flex justify-content-center" *ngIf="isLoading">
    <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-5">Patientez-svp...</p>
</div>
<div class="mb-25"  *ngIf="!isLoading">
    <div class="row justify-content-center" *ngIf="salaire && preference">
        <div class="col-md-8 .offset-md-4" id="htmlData" #htmlData>
                <mat-card class="mb-25 tagus-card">
                    <mat-card-header class="mb-10 d-flex justify-content-center">
                        <h4 class="mb-0 text-center">{{ title.toUpperCase()}} </h4>
                    </mat-card-header>
                    <mat-card-header>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <table class="table"> 
                                    <tbody>
                                        <tr>
                                            <td class="text-start">
                                                Créé le {{salaire.created | date: 'dd/MM/yyyy'}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Classeur du {{mois}}/{{dateYear}}
                                            </td> 
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                       
                        
                        <div> 
                            <button mat-icon-button color="warn" 
                                (click)="edit(salaire.id)" 
                                matTooltip="Traitement du bulletin" *ngIf="isValidDelai">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button class="tagus" (click)="openPDF()">
                                <mat-icon>print</mat-icon>
                            </button>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <div class=" d-flex flex-nowrap mb-25 align-items-center justify-content-space-between">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <table class="table"> 
                                    <tbody>
                                        <tr>
                                            <td class="text-start">
                                                Entreprise:
                                            </td>
                                            <td class="gray-color text-start" *ngIf="preference.company">{{ preference.company.corporate_name }}</td> 
                                            <td class="gray-color text-start" *ngIf="!preference.company"> - </td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                RCCM:
                                            </td>
                                            <td class="gray-color text-start" *ngIf="preference.company">{{ preference.company.rccm }}</td>
                                            <td class="gray-color text-start" *ngIf="!preference.company"> - </td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                ID. Nat:
                                            </td>
                                            <td class="gray-color text-start" *ngIf="preference.company">{{ preference.company.id_nat }}</td> 
                                            <td class="gray-color text-start" *ngIf="!preference.company"> - </td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                N° Impôt:
                                            </td>
                                            <td class="gray-color text-start" *ngIf="preference.company">{{ preference.company.numero_impot }}</td>
                                            <td class="gray-color text-start" *ngIf="!preference.company"> - </td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                N° CNSS:
                                            </td>
                                            <td class="gray-color text-start" *ngIf="preference.company">{{ preference.company.numero_cnss }}</td>
                                            <td class="gray-color text-start" *ngIf="!preference.company"> - </td> 
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
                                <qrcode [qrdata]="salaire.personnel.matricule" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
                            </div>
                        </div>
                        <mat-divider class="mb-25" ></mat-divider>
                        <table class="table"> 
                            <tbody>
                                <tr>
                                    <td class="text-start">
                                        Identifiant:
                                    </td>
                                    <td class="gray-color text-start">{{ salaire.personnel.matricule.toUpperCase() }}</td> 
                                </tr>
                                <tr>
                                    <td class="text-start">
                                        Nom complet:
                                    </td>
                                    <td class="gray-color text-start">{{ salaire.personnel.nom}} {{ salaire.personnel.postnom}} {{ salaire.personnel.prenom}}</td> 
                                </tr>
                                <tr *ngIf="salaire.personnel.departements">
                                    <td class="text-start">
                                        Département
                                    </td>
                                    <td class="gray-color text-start">{{ salaire.personnel.departements.departement }} </td> 
                                </tr>
                                <tr>
                                    <td class="text-start">
                                        N° CNSS:
                                    </td>
                                    <td class="gray-color text-start">{{ salaire.personnel.numero_cnss }}</td> 
                                </tr>
                                <tr>
                                    <td class="text-start">
                                        Compte bancaire:
                                    </td>
                                    <td class="gray-color text-start">{{ salaire.personnel.compte_bancaire }}</td> 
                                </tr>
                                <tr>
                                    <td class="text-start">
                                        Monnaie:
                                    </td>
                                    <td class="gray-color text-start">{{ salaire.monnaie }}</td> 
                                </tr>
                                <tr>
                                    <td class="text-start">
                                        Taux de conversion:
                                    </td>
                                    <td class="gray-color text-start">1$ = {{ salaire.taux_dollard }} FC</td> 
                                </tr>
                            </tbody>
                        </table>
                        <ul class="list ps-0 mb-0 mt-25">
                            <div class="table-responsive mb-10">
                                <table class="table"> 
                                    <tbody>
                                        <tr>
                                            <td class="text-start fontSize">
                                                PRESTATIONS
                                            </td> 
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Jours prestés :
                                            </td> 
                                            <td class="gray-color text-end">{{ salaire.nbre_jrs_preste }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Jours feriés :
                                            </td> 
                                            <td class="gray-color text-end">{{ salaire.nbre_jrs_ferie }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Congé payés (2/3) :
                                            </td> 
                                            <td class="gray-color text-end">{{ salaire.conge_paye }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Nombre de dependants :
                                            </td> 
                                            <td class="gray-color text-end">{{ salaire.nbr_dependants }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Nombre d'heures supp. :
                                            </td> 
                                            <td class="gray-color text-end">{{ salaire.heures_supp }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Age d'ancienneté :
                                            </td> 
                                            <td class="gray-color text-end">{{ salaire.anciennete_nbr_age }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>  
                            <div class="table-responsive mb-10">
                                <table class="table"> 
                                    <tbody>
                                        <tr>
                                            <td class="text-start fontSize">
                                                BRUT IMPOSABLE
                                            </td> 
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Salaire de base : 
                                            </td> 
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.salaire_base | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'USD'">{{ salaire_baseUSD | numberFormat:'fr-FR' }} $</td>  
                                        </tr> 
                                        <tr>
                                            <td class="text-start">
                                                Primes d'anciennetés : 
                                            </td> 
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.prime_anciennete | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'USD'">{{ prime_ancienneteUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Primes diverses :
                                            </td> 
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.primes | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'USD'">{{ primesUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Heures supplementaires :
                                            </td> 
                                            <td class="gray-color text-end"> 
                                                <span *ngIf="salaire.monnaie == 'CDF'">{{ salaire.heure_supplementaire_monnaie | numberFormat:'fr-FR' }} FC</span>
                                                <span *ngIf="salaire.monnaie == 'USD'">{{ heureSupplementaireMonnaieUSD | numberFormat:'fr-FR' }} $</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Remunération Brute Imposaable(RBI)
                                            </td> 
                                            <td class="gray-color fontSize text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.rbi | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color fontSize text-end" *ngIf="salaire.monnaie == 'USD'">{{ rbiUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                            <div class="table-responsive mb-10">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="text-start fontSize">
                                                AVANTAGES LEGAUX
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr> 
                                            <td class="text-start">
                                                Contre-valeur logement :
                                            </td> 
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.alloc_logement | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'USD'">{{ alloc_logementUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Allocation transport : 
                                            </td> 
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.alloc_transport | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'USD'">{{ alloc_transportUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Allocation familliale : 
                                            </td> 
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.alloc_familliale | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'USD'">{{ alloc_famillialeUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Soins medicaux :
                                            </td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.soins_medicaux | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'USD'">{{ soins_medicauxUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                            <div class="table-responsive mb-10">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="text-start fontSize">
                                                NET IMPOSABLE
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                CNSS QPO ({{preference.cnss_qpo}}%):
                                            </td> 
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.cnss_qpo | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'USD'">{{ cnss_qpoUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr> 
                                        <tr>
                                            <td class="text-start">
                                                Remunération Nette Imposable (RNI)
                                            </td>
                                            <td class="gray-color fontSize text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.rni | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color fontSize text-end" *ngIf="salaire.monnaie == 'USD'">{{ rniUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr>  
                                    </tbody>
                                </table>
                            </div>

                            <div class="table-responsive mb-10">
                                <table class="table"> 
                                    <tbody> 
                                        <tr>
                                            <td class="text-start fontSize">
                                                DEDUCTIONS
                                            </td> 
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Impôt Professionnel sur les Rémunérations (IPR)
                                            </td>
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.ipr | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'USD'">{{ iprUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr> 
                                        <tr>
                                            <td class="text-start">
                                                Avances salaire
                                            </td> 
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.avance_slaire | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'USD'">{{ avanceSalaireNbrUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Sanctions ou pénalités
                                            </td> 
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.penalites | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'USD'">{{ penalitesUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                            Cotisations Syndicale ({{preference.cotisation_syndicale}}%):
                                            </td> 
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.syndicat | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'USD'">{{ syndicatUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Prise en charge des frais bancaire
                                            </td> 
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.prise_en_charge_frais_bancaire | numberFormat:'fr-FR' }} FC</td>  
                                            <td class="gray-color text-end" *ngIf="salaire.monnaie == 'USD'">{{ prise_en_charge_frais_bancaireUSD | numberFormat:'fr-FR' }} $</td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Pret entreprise
                                            </td> 
                                            <td class="gray-color text-end">{{ salaire.pres_entreprise | numberFormat:'fr-FR' }} FC</td>  
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <li class="fw-semibold net_a_payer d-flex align-items-center justify-content-space-between">
                                Net à payer :
                                <span>
                                    <span class="fw-semibold fontSize" *ngIf="salaire.monnaie == 'USD'">{{ net_a_payerUSD | numberFormat:'fr-FR' }} $</span> <br>
                                    <span  class="gray-color fontSize" *ngIf="salaire.monnaie == 'CDF'">{{ salaire.net_a_payer | numberFormat:'fr-FR' }} FC</span>
                                </span>
                            </li>
                        </ul>  
                    </mat-card-content>
                </mat-card> 
        </div> 
    
    </div>
</div>

